@import "~/src/Shared/styles/theme";

.select_wrapper {
    display: flex;
    flex-direction: column;

    font-size: 12px;
    line-height: 16px;
    position: relative;
    border: 1px solid $color_grey;
}

.select_preview {
    position: relative;
    width: 123px;
    padding: 10px 12px;
    background-color: #E7E5EB;
    text-align: start;
}

.select_preview::after {
    position: absolute;
    top: calc(50% - 6px);
    right: 6px;
    content: '';
    width: 12px;
    height: 12px;
    border-right: 1px solid $color_green;
    border-bottom: 1px solid $color_green;
    transform: rotate(45deg);
}

.dropdown {
    margin: 0;
    position: absolute;
    z-index: 5;
    top: 100%;
    list-style-type: none;
    padding: 0;
    background-color: #F4F3F6;
    border: none;
}

.item_btn {
    width: 123px;
    padding: 10px 12px;
    text-align: start;
}

.item_btn:hover {
    background-color: #E7E5EB;
}