@import "~/src/Shared/styles/theme";

.wrapper {
    display: flex;
}

.input {
    width: 100%;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    border: none;
    border-top: 1px solid $color_grey;
    border-bottom: 1px solid $color_grey;
    color: $color_black;
    background-color: #fff;
}
.input:focus {
    outline: none;
}
.input::placeholder {
    font-weight: 400;
}

.cancel_btn {
    position: relative;
    flex-shrink: 0;
    width: 27px;
    background-color: $color_lightgrey;
    border: 1px solid $color_grey;
}

.cancel_btn:hover,
.cancel_btn:focus {
    background-color: $color_grey;
}

.cancel_btn::after {
    position: absolute;
    inset: 0;
    content: '';
    background-image: url("~/src/Shared/img/delete.svg");
    background-position: center;
    background-repeat: no-repeat;
} 