@import "~/src/Shared/styles/theme";

.btn_wrap {
    display: flex;
    width: 108px;
    height: 40px;
    flex-wrap: wrap;
}

.btn_wrap button:not(:last-child) {
    margin-right: 7px;
}
.btn_wrap button:last-child,
.btn_wrap button:nth-child(5) {
    margin-right: 0;
}

.btn {
    position: relative;
    width: 16px;
    height: 16px;
    opacity: 0.7;

}
.btn:hover,
.btn:focus {
    opacity: 1;
}

.btn__contact-phone {
    background-image: url("~/src/Shared/img/contact-tel.svg");
}

.btn__contact-email {
    background-image: url("~/src/Shared/img/contact-mail.svg");
}

.btn__contact-facebook {
    background-image: url("~/src/Shared/img/contact-fb.svg");
}

.btn__contact-vkontakte {
    background-image: url("~/src/Shared/img/contact-vk.svg");
}

.btn__contact-other {
    background-image: url("~/src/Shared/img/contact-other.svg");
}

.tooltip {
    position: absolute;
    top: -40px;
    min-width: 16px;
    min-height: 16px;
    padding: 7px 14px;
    background-color: $color_black;
    color: #fff;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
}

.btn:hover .tooltip {
    opacity: 1;
}