@import "~/src/Shared/styles/theme";

.row {
    background-color: #fff;
    // margin-bottom: 1px;
    border-bottom: 1px solid $color_grey;
}

.column {
    padding: 10px;

    border: none;
    font-size: 14px;
    line-height: 19px;
}

.column_id {
    font-size: 12px;
    line-height: 16px;
    color: $color_grey;
}

.text_time {
    color: $color_grey;
}