@import "~/src/Shared/styles/theme";



.label {
    position: relative;
    width: 100%;

    & .wrapper {
        position: absolute;
        bottom: 55px;
        font-size: 14px;
        line-height: 14px;
    }

    & .wrapper.is-focused {
        font-size: 10px;
        line-height: 14px;
        transform: translate(0, -14px);
    }

    & .caption {
        font-weight: 600;
        color: $color_txt;
    }

    & .error {
        color: $color_red;
    }

    & .input {
        width: 100%;
        margin-bottom: 32px;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        border: none;
        border-bottom: 1px solid #C8C5D1;
        color: $color_black;
        background-color: transparent;

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-weight: 400;
        }
    }

}
