@import "~/src/Shared/styles/theme";

.container {
    padding-top: 80px;
    max-width: 1226px;
    margin: 0 auto;
}

.btnWrapper {
    margin: 0 auto;
    max-width: 216px;
}

.addBtn {
    padding: 11.5px 26.5px 11.5px 58.5px;

    border: 1px solid $color_green;

    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: $color_green;

    background-image: url("~/src/Shared/img/add-user.svg");
    background-repeat: no-repeat;
    background-position: 26.5px center;
}

.addBtn:hover,
.addBtn:focus {
    background-color: $color_lightgrey;
}