@import "~/src/Shared/styles/theme";

.column {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: $color_txt;
    text-align: left;
    
}
.column.forward,
.column.backward {
    color: $color_green;
}

.column__wrapper {
    display: inline-flex;
    align-items: center;
}

.column.forward .table__sort {
    opacity: 1;
}
.column.backward .table__sort {
    opacity: 1;
    transform: rotate(180deg);
}