.btn_wrap {
    display: flex;
}

.btn_wrap button:not(:last-child) {
    margin-right: 30px;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0;
    text-align: center;
    background-color: transparent;
}

.btn_edit,
.btn_delete {
    position: relative;
    padding-left: 16px;
    background-repeat: no-repeat;
    background-position: left center;
}
.btn_edit {
    background-image: url("~/src/Shared/img/edit.svg");
}
.btn_delete {
    background-image: url("~/src/Shared/img/delete.svg");
}
.btn_edit:hover,
.btn_edit:focus {
    color: green;
}
.btn_delete:hover,
.btn_delete:focus {
    color: red;
}